@using System.Globalization;
@using Svetosavlje.Models;
@using Svetosavlje.Data_Layer
@model Svetosavlje.Models.PrologModel
@{
    ViewBag.Title = "Пролог";
}

<link rel="stylesheet" type="text/css" href="/Scripts/julian/humanity.calendars.picker.css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/julianCalendar")
    
<script>
    $(function () {
        $('#inlineDatepicker').calendarsPicker({ calendar: $.calendars.instance('julian', 'sr'), onSelect: showDate, changeMonth: false, defaultDate: '@Model.Datum' });
    });


    function showDate(date) {
        $("#dtProlog").val(date);
        $('form').submit();
    }


</script>
<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li class="active">Пролог</li>
        </ul>
        <div style="margin: 0 auto; text-align: center; width: 60%;">
            <h1>
                Пролог</h1>
            @using (Html.BeginForm("Index", "Prolog"))
            {
                <div id="inlineDatepicker"></div>
                <input type="hidden" id="dtProlog" name="dtProlog" />
            }
        </div>
    </div>
    @{int i = 0;}
    @foreach (Prolog prolog in Model.Sveti)
    {
        i = i + 1;
        <p>
            <b>
                @i
                .&nbsp;&nbsp;
                @prolog.ImeSveca
            </b>
            @prolog.ZitijaSveca
        </p>
    }
    <p>
        <br />
        @Html.Raw(Model.Pjesma)
    </p>
    <br />
    <p>
        <b>Расуђивање</b></p>
    <p>@Html.Raw(Model.Rasudjivanje)</p>
    <p>
        <b>Созерцање</b></p>
    <p>@Html.Raw(Model.Sozercanje)</p>
    <p>
        <b>Бесједа</b></p>
    <p>@Html.Raw(Model.Besjeda)</p>
</div>
