@{
    ViewBag.Title = "Фреске Протат 2";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Протат, Света Гора Атонска, 1290.", "Freske_Protat01", "Riznice")<span class="divider">/</span></li>
            <li class="active">2. Протат, Света Гора Атонска, 1290.</li>

    </ul>

<table>

<tr> 
          <td height="59" width="650"> 
            <div align="center"><font face="Arial, Helvetica, sans-serif"><b><font size="2">ЦИКЛУС 
              ГОСПОДЊИХ ПРАЗНИКА</font></b></font></div>
          </td>
        </tr>
        <tr> 
          <td height="1877" valign="top" width="650"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="150" bordercolor="#CCCCCC">
              <tr> 
                <td colspan="20" height="30" bgcolor="#FFFFCC">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="20" height="30" bgcolor="#FFFFCC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Sretenje.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Sretenje.gif" width="82" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr> 
                <td colspan="20" height="33" bgcolor="#FFFFCC"> 
                  <div align="center"></div>
                  <div align="right"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Сретење</font></div>
                </td>
              </tr>
              <tr valign="bottom"> 
                <td height="34" colspan="20"> 
                  <div align="center"></div>
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="31" colspan="20" bgcolor="#E3DFA8"> 
                  <div align="center"> 
                    <div align="center"></div>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="115" valign="top" colspan="3" bgcolor="#E3DFA8"> 
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Bogojavljenje%20.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Bogojavljenje%20.gif" width="127" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="4" bgcolor="#E3DFA8" height="115"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Bogojavljenjedetalj.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Bogojavljenjedetalj.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="5" bgcolor="#E3DFA8" height="115"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Bogojavlljenje%20detalj%203.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Bogojavlljenje%20detalj%203.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#E3DFA8" height="115"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Bogojavljenje detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Bogojavljenje%20detalj.gif" width="109" height="113" border="0"></a></td>
                <td colspan="2" valign="top" bgcolor="#E3DFA8" height="115"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Bogojavljenje%20detalj2.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Bogojavljenje%20detalj2.gif" width="106" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr> 
                <td height="34" colspan="20" bgcolor="#E3DFA8"> 
                  <div align="center"> 
                    <div align="center"></div>
                    <div align="center"></div>
                    <div align="center"></div>
                    <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Богојављење 
                      Господње</font></div>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="30" colspan="20"> 
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="30" colspan="20" bgcolor="#DDD6BF"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr> 
                <td height="113" width="54" bgcolor="#DDD6BF"></td>
                <td colspan="5" valign="top" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj%201.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj%201.gif" width="88" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje.gif" width="109" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj%202.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj%202.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td width="69" bgcolor="#DDD6BF"></td>
              </tr>
              <tr> 
                <td height="37" colspan="20" bgcolor="#DDD6BF">&nbsp;</td>
              </tr>
              <tr> 
                <td height="113" colspan="3" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj%205.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj%205.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj.gif" width="101" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj%203.gif" width="100" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="3" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Preobrazenje%20detalj%204.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Preobrazenje%20detalj%204.gif" width="82" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="33" colspan="20" bgcolor="#DDD6BF"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Преображење 
                    Господње</font></div>
                </td>
              </tr>
              <tr> 
                <td height="39" valign="top" colspan="20">&nbsp;</td>
              </tr>
              <tr valign="middle"> 
                <td height="31" colspan="20" bgcolor="#DDC28C"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr> 
                <td height="114" colspan="8" valign="top" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="4" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj.gif" width="80" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="8" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj%203.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj%203.gif" width="73" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr> 
                <td colspan="20" height="40" bgcolor="#DDC28C"> 
                  <div align="center"> 
                    <div align="center"></div>
                  </div>
                  <div align="center"></div>
                  <div align="right"></div>
                </td>
              </tr>
              <tr> 
                <td height="113" colspan="4" valign="top" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj%204.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj%204.gif" width="111" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj%202.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="5" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj%205.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj%205.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="5" bgcolor="#DDC28C"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Tajna%20vecera%20detalj%206.jpg" target="_top"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Tajna%20vecera%20detalj%206.gif" width="134" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td colspan="20" height="34" bgcolor="#DDC28C"> 
                  <div align="center"> 
                    <div align="center">
                      <div align="center">
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                      </div>
                      <div align="right"></div>
                    </div>
                    <div align="center"></div>
                    <div align="center"></div>
                    <div align="center"> 
                      <div align="center"></div>
                      <div align="center"></div>
                      <font face="Arial, Helvetica, sans-serif" size="2">Тајна 
                      вечера</font></div>
                  </div>
                  </td>
              </tr>
              <tr valign="top"> 
                <td colspan="20" height="35">&nbsp;</td>
              </tr>
              <tr valign="middle"> 
                <td colspan="20" height="31" bgcolor="#D0CDB3"> 
                  <div align="center"></div>
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="113" colspan="3" bgcolor="#D0CDB3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Izdajstvo%20Judino.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Izdajstvo%20Judino.gif" width="99" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#D0CDB3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Izdajstvo%20Judino%20detalj%201.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Izdajstvo%20Judino%20detalj%201.gif" width="78" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#D0CDB3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Izdajstvo%20Judino%20detalj%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Izdajstvo%20Judino%20detalj%202.gif" width="106" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="5" bgcolor="#D0CDB3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Izdajstvo%20Judino%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Izdajstvo%20Judino%20detalj.gif" width="98" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td colspan="20" height="34" bgcolor="#D0CDB3"> 
                  <div align="center"></div>
                  <div align="center"> 
                    <div align="center"></div>
                    <div align="center"> 
                      <div align="center"></div>
                      <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Издајство 
                        Јудино</font></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr valign="top"> 
                <td colspan="20" height="34">&nbsp;</td>
              </tr>
              <tr valign="middle"> 
                <td colspan="20" height="29" bgcolor="#D6BEA7"> 
                  <div align="center"> 
                    <div align="center"></div>
                    <div align="center"></div>
                    <div align="center"></div>
                    <div align="center"></div>
                  </div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="113" colspan="6" valign="top" bgcolor="#D6BEA7"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Pranje%20nogu.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Pranje%20nogu.gif" width="94" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="8" bgcolor="#D6BEA7"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Pranje%20nogu%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Pranje nogu detalj.gif" width="94" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#D6BEA7"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Pranje%20nogu%20detalj%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Pranje%20nogu%20detalj%202.gif" width="98" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="33" colspan="20" bgcolor="#D6BEA7"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Прање 
                    ногу апостолима</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="34" colspan="20" valign="top">&nbsp;</td>
              </tr>
              <tr valign="middle" bgcolor="#CEE1CF"> 
                <td height="30" colspan="20"> 
                  <div align="left"></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#CEE1CF"> 
                <td height="113" colspan="6" valign="top"> 
                  <div align="center"><font color="#003333" face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Raspece.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Raspece.gif" width="143" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="8"> 
                  <div align="center"><font color="#003333" face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Raspece%20detalj2.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Raspece%20detalj2.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6"> 
                  <div align="center"><font color="#003333" face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Raspece%20detalj.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Raspece%20detalj.gif" width="82" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle" bgcolor="#CEE1CF"> 
                <td height="32" colspan="20"> 
                  <div align="left"></div>
                  <div align="center"> 
                    <div align="left"></div>
                    <div align="center"></div>
                    <div align="center"><font color="#003333" face="Arial, Helvetica, sans-serif" size="2">Распеће 
                      Христово</font></div>
                  </div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="35" colspan="20" bordercolor="#E0E0E0"> 
                  <div align="left"></div>
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="30" colspan="20" bgcolor="#D2C18E"> 
                  <div align="center"></div>
                  </td>
              </tr>
              <tr valign="top"> 
                <td height="113" colspan="2" valign="top" bgcolor="#D2C18E">&nbsp;</td>
                <td valign="top" colspan="9" bgcolor="#D2C18E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Polaganje%20u%20grob.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Polaganje%20u%20grob.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#D2C18E"> 
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Polaganje%20u%20grob%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Polaganje%20u%20grob%20detalj.gif" width="80" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="2" bgcolor="#D2C18E">&nbsp;</td>
              </tr>
              <tr valign="middle"> 
                <td height="33" colspan="20" bgcolor="#D2C18E"> 
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Полагање 
                    у гроб</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="28" colspan="20">&nbsp;</td>
              </tr>
              <tr valign="middle"> 
                <td height="29" colspan="20" bgcolor="#C7B49E"> 
                  <div align="center"></div>
                  </td>
              </tr>
              <tr valign="top"> 
                <td height="113" colspan="2" valign="top" bgcolor="#C7B49E">&nbsp;</td>
                <td valign="top" colspan="9" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20Ad.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20Ad.gif" width="101" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20Ad%20detalj%201.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20Ad%20detalj%201.gif" width="109" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="2" bgcolor="#C7B49E">&nbsp;</td>
              </tr>
              <tr valign="top"> 
                <td colspan="20" height="32" bgcolor="#C7B49E"> 
                  <div align="center"></div>
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="113" colspan="3" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20Ad%20detalj%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20Ad%20detalj%202.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="7" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20ad%20detalj%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20ad%20detalj%203.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20Ad%20detalj%204.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20Ad%20detalj%204.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="4" bgcolor="#C7B49E"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20u%20Ad%20detalj%205.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20u%20Ad%20detalj%205.gif" width="138" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td colspan="20" height="33" bgcolor="#C7B49E"> 
                  <div align="center">
                    <div align="center"></div>
                    <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Силазак 
                      у Ад</font></div>
                </div>
                </td>
              </tr>
              <tr valign="top"> 
                <td colspan="20" height="33">&nbsp;</td>
              </tr>
              <tr valign="middle" bgcolor="#CDCDCD"> 
                <td colspan="20" height="31"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"> 
                    </font></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#CDCDCD"> 
                <td height="113" colspan="3"> 
                  <div align="center"></div>
                </td>
                <td valign="top" colspan="7"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Vaznesenje%20Gospodnje.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Vaznesenje%20Gospodnje.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="6"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Vaznesenje%20Gospodnje%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Vaznesenje%20Gospodnje%20detalj.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="4"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="middle" bgcolor="#CDCDCD"> 
                <td colspan="20" height="33"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Вазнесење 
                    Господње</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td colspan="20" height="31"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="middle" bgcolor="#E8D59B"> 
                <td colspan="20" height="31"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#E8D59B"> 
                <td height="113" colspan="5" valign="top"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20SvDuha.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20SvDuha.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="10"> 
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20SvDuha%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20SvDuha%20detalj.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td valign="top" colspan="5"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Silazak%20Sv%20Duha%20detalj%202.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Silazak%20Sv%20Duha%20detalj%202.gif" width="101" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="middle" bgcolor="#E8D59B"> 
                <td height="33" colspan="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Силазак 
                    Духа Светог на апостоле</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="35" colspan="20"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="54" valign="top" width="650"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="47">
              <tr> 
                <td height="54"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color=#999999><a href="@Url.Action("Freske_Protat01", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                            претходна</font></a></font><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Protat01", "Riznice")">&nbsp;&nbsp;</a>&nbsp;&nbsp;<strong>[ 
                            <a href="@Url.Action("Freske_Protat01", "Riznice")">1</a> 2<a href="@Url.Action("Freske_Protat03", "Riznice")"> 
                            3</a> <a href="@Url.Action("Freske_Protat04", "Riznice")">4</a> ]&nbsp;&nbsp;&nbsp;&nbsp;</strong><a href="@Url.Action("Freske_Protat03", "Riznice")">следећа 
                            &gt;&gt;</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="36" valign="top" width="650"> 
            <div align="left"> </div>
        </tr>
        <tr> 
          <td height="23" width="650"></td>
        </tr>
    </table>