@{
    ViewBag.Title = "Фреске";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
         <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Фреске</li>
        </ul>


<tr> 
          <td height="44"> 
            <div align="center"><font face="Arial, Helvetica, sans-serif"></font></div>
          </td>
        </tr>
        <tr> 
          <td height="523" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="517">
              <tr valign="middle"> 
                <td width="3%" height="40" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="40" bgcolor="#E8E7D9" valign="middle"><font face="Arial, Helvetica, sans-serif" size="2"> 
                  <b>црква-манастир</b></font></td>
                <td height="40" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">место</font></b></td>
                <td height="40" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">година</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="15" valign="middle">&nbsp;</td>
                <td width="50%" height="15" valign="middle">&nbsp;</td>
                <td height="15" width="39%" valign="middle"><b></b></td>
                <td height="15" width="8%" valign="middle"> 
                  <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b></b></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="22" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Ohrid1", "Riznice")">Богородица 
                  Перивлепта</a></font></b></td>
                <td height="22" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Охрид</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">1295.</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Protat01", "Riznice")">Протат</a></font></b></td>
                <td height="22" width="39%" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Света 
                  Гора Атонска</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">1290.</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="22" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Kraljeva", "Riznice")">Студеница- 
                  Краљева црква</a></font></b></td>
                <td height="22" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Студеница</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">XIV</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Студеницa- 
                  Богородичина црква</font></b></td>
                <td height="22" width="39%" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Студеница</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">1208.</font><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"></font></font></font></font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="22" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Богородица 
                  Љевишка</font></b></td>
                <td height="22" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Призрен</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><b></b></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Милешева</font></b></td>
                <td height="22" width="39%" valign="middle"><b><font size="2" face="Arial, Helvetica, sans-serif">Пријепоље</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">1230.</font></font></font></font></font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="22" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Старо 
                  Нагоричино</font></b></td>
                <td height="22" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Старо 
                  Нагоричино</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font size="2" face="Arial, Helvetica, sans-serif"><b><font face="Arial, Helvetica, sans-serif" size="2">1317.</font></b></font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Високи 
                  Дечани </font></b></td>
                <td height="22" width="39%" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Дечани</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">1350.</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" bgcolor="#E8E7D9" valign="middle">&nbsp;</td>
                <td width="50%" height="22" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Пећка 
                  Патријаршија</font></b></td>
                <td height="22" width="39%" bgcolor="#E8E7D9" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Пећ</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">1250.</font></font></font></font></font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Sopocani", "Riznice")">Сопоћани</a></font></b></td>
                <td height="22" width="39%" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Сопоћани</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">1260.</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle" bgcolor="#E8E7D9">&nbsp;</td>
                <td width="50%" height="22" valign="middle" bgcolor="#E8E7D9"><b><font face="Arial, Helvetica, sans-serif" size="2">Богородичина 
                  црква</font></b></td>
                <td height="22" width="39%" valign="middle" bgcolor="#E8E7D9"><b><font face="Arial, Helvetica, sans-serif" size="2">Солун</font></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">XX</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle"><font face="Arial, Helvetica, sans-serif" size="2"><b>Грачаница</b></font></td>
                <td height="22" width="39%" valign="middle"><b><font face="Arial, Helvetica, sans-serif" size="2">Грачаница</font></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b><font size="2" face="Arial, Helvetica, sans-serif">1321.</font></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle" bgcolor="#E8E7D9">&nbsp;</td>
                <td width="50%" height="22" valign="middle" bgcolor="#E8E7D9"><b></b></td>
                <td height="22" width="39%" valign="middle" bgcolor="#E8E7D9"><b></b></td>
                <td height="22" width="8%" valign="middle" bgcolor="#E8E7D9"> 
                  <div align="left"><font size="2" face="Arial, Helvetica, sans-serif"><b></b></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#E8E7D9"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><font size="2" face="Arial, Helvetica, sans-serif"><b></b></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#E8E7D9"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#E8E7D9"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
              <tr valign="top" bgcolor="#E8E7D9"> 
                <td width="3%" height="22" valign="middle">&nbsp;</td>
                <td width="50%" height="22" valign="middle">&nbsp;</td>
                <td height="22" width="39%" valign="middle"><b></b></td>
                <td height="22" width="8%" valign="middle"> 
                  <div align="left"><b></b></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
