@{
    ViewBag.Title = "Фреске Охрид 1";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li class="active">Богородица Перивлепта 1, Охрид 1295.</li>

    </ul>

<table>

 <tr> 
          <td height="479" valign="top"> 
            <table width="100%" border="0" height="431">
              <tr> 
                <td width="16%"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"><font face="Arial, Helvetica, sans-serif" size="2"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/SvApPetar.jpg" width="59" height="113" border="0"></font></a></td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Bogorodica%20Sirsaja.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Bogorodica%20Sirsaja%20.jpg" width="73" height="113" border="0"></a></font></div>
                </td>
                <td width="20%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv%20Avramije.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv%20.Avramije.jpg" width="66" height="113" border="0"></a></font></div>
                </td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv%20Arsenije%20.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv_Arsenije.jpg" width="74" height="113" border="0"></a></font></div>
                </td>
                <td width="18%"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvAndrej%20kritski.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/SvAndrej%20kritski.jpg" width="72" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="16%" height="56"><font face="Arial, Helvetica, sans-serif" size="2">Св.апостол 
                  Петар</font></td>
                <td width="23%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Богородица 
                    Ширшаја</font></div>
                </td>
                <td width="20%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Свети 
                    Аврамије</font></div>
                </td>
                <td width="23%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Свети 
                    Арсеније</font></div>
                </td>
                <td width="18%" height="56"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Св.Андреј 
                    критски</font></div>
                </td>
              </tr>
              <tr> 
                <td width="16%"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Antonije%20Veliki.jpg" target="_blank"><font face="Arial, Helvetica, sans-serif" size="2"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20Antonije%20Veliki.jpg" width="59" height="113" border="0"></font></a></td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Antonije.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20Antonije.jpg" width="81" height="113" border="0"></a></font></div>
                </td>
                <td width="20%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20ap.%20Andrej%20.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20ap.%20Andrej%20.jpg" width="69" height="113" border="0"></a></font></div>
                </td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Andjeo.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Andjeo.jpg" width="73" height="113" border="0"></a></font></div>
                </td>
                <td width="18%"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvAp.Pavle.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/SvApPavle.jpg" width="65" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="16%" height="56"><font face="Arial, Helvetica, sans-serif" size="2">Св.Антоније 
                  Велики</font></td>
                <td width="23%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Антоније 
                    Велики - детаљ</font></div>
                </td>
                <td width="20%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.апостол 
                    Андреј</font></div>
                </td>
                <td width="23%" height="56"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Ангео 
                    Господњи</font></div>
                </td>
                <td width="18%" height="56"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Св.апостол 
                    Павле</font></div>
                </td>
              </tr>
              <tr> 
                <td width="16%"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Jovan%20Zlatousti.jpg" target="_blank"><font face="Arial, Helvetica, sans-serif" size="2"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/SvJovan%20zlatoust.jpg" width="79" height="113" border="0"></font></a></td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Petar.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20Petar.jpg" width="98" height="113" border="0"></a></font></div>
                </td>
                <td width="20%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Tarasije%20carigradski.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20Tarasije%20carigradski.jpg" width="94" height="113" border="0"></a></font></div>
                </td>
                <td width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Nepoznati%20episkop.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Nepoznati%20episkop.jpg" width="91" height="113" border="0"></a></font></div>
                </td>
                <td width="18%"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Evtihije.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Sv.%20Evtihije.jpg" width="94" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="24" width="16%"><font face="Arial, Helvetica, sans-serif" size="2">Св.Јован 
                  златоуст</font></td>
                <td height="24" width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Петар</font></div>
                </td>
                <td height="24" width="20%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Тарасије 
                    цариградски</font></div>
                </td>
                <td height="24" width="23%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">непознати 
                    епископ</font></div>
                </td>
                <td height="24" width="18%"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2">Свети 
                    Евтихије</font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="36"></td>
        </tr>
        <tr> 
          <td height="41" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Svetitelji.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет фресака ОХРИД СВЕТИТЕЉИ</font></a><font face="Arial, Helvetica, sans-serif" size="2"> 
                            (1.8МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="51" valign="top"> 
            <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
              <tbody> 
              <tr> 
                <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                  <p align=center><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                    </strong><a href="@Url.Action("Freske_Ohrid2", "Riznice")">следећа &gt;&gt;</a> 
                    <strong>[ 1<a href="@Url.Action("Freske_Ohrid2", "Riznice")"> 2</a> ]&nbsp;&nbsp;&nbsp;&nbsp;</strong></font></p>
                </td>
              </tr>
              </tbody> 
            </table>
            <p align="center">&nbsp;</p>
          </td>
        </tr>
    </table>