@{
    ViewBag.Title = "Фреске Охрид 2";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">
</p>

<ul class="breadcrumb">
    <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Богородица Перивлепта 1, Охрид 1295.", "Freske_Ohrid1", "Riznice")<span class="divider">/</span></li>
    <li class="active">Богородица Перивлепта 2, Охрид 1295.</li>

</ul>


<table align="center">
    <tr>
        <td align="center" height="87"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Polaganje%20u%20grob.jpg" target="_blank"><font face="Arial, Helvetica, sans-serif" size="2"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Polaganje%20u%20grob%20.jpg"  height="113" border="0"></font></a></td>
        <td height="87">
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Oplakivanje%20Hrista%20-%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Oplakivanje%20Hrista%20-%20detalj.jpg"  height="113" border="0"></a></font></div>
        </td>
        <td height="87">
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Oplakivanje%20Hrista%20-%20detalj%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Oplakivanje%20Hrista%20-%20detalj%202.jpg"  height="113" border="0"></a></font></div>
        </td>
    </tr>
    <tr valign="top">
        <td height="21">
            <div align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">Полагање 
                    у гроб</font>
            </div>
        </td>
        <td height="21">
            <div align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">Полагање 
                    детаљ</font>
            </div>
        </td>
        <td height="21">
            <div align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">Полагање 
                    детаљ 2</font>
            </div>
        </td>
    </tr>

    <tr valign="middle">
        <td valign="middle" align="center" height="133">
            <p><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Pricesce%20Apostola%20.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Pricesce%20Apostola%20.jpg"  height="113" border="0" align="absbottom"></a></font></p>
        </td>
        <td>
            <div align="center">
                <p><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Pricesce-Apostola-detalj-1.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Pricesce-Apostola-detalj-1.jpg"  height="113" border="0" align="absbottom"></a></font></p>
            </div>
        </td>
        <td>
            <div align="center">
                <p><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Pricesce%20Apostola-detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Pricesce%20Apostola%20-%20detalj.jpg"  height="113" border="0" align="absbottom"></a></font></p>
            </div>
        </td>
    </tr>
    <tr valign="top">
        <td align="center" height="35"><font face="Arial, Helvetica, sans-serif" size="2">Причешће 
                  апостола</font></td>
        <td height="35">
            <div align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">Детаљ 
                    1</font>
            </div>
        </td>
        <td height="35">
            <div align="center">
                <font face="Arial, Helvetica, sans-serif" size="2">Детаљ 
                    </font>
            </div>
        </td>
    </tr>

                <tr>
                    <td width="292" height="118">
                        <div align="center">
                            <p align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Molitva%20u%20Getsimanskom%20vrtu.jpg" target="_blank">
                                <img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Molitva%20u%20Getsimanskom%20vrtu.jpg" width="183" height="113" border="0" align="top"></a></p>
                        </div>
                    </td>
                    <td width="292" height="118">
                        <div align="center">
                            <p align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Uspenje%20Bogorodice.jpg" target="_blank">
                                <img src="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Thumbs/Uspenje%20Bogorodice%20.jpg" width="166" height="113" border="0" align="top"></a></p>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr valign="top">
                    <td height="19">
                        <div align="center">
                            <font size="2" face="Arial, Helvetica, sans-serif">Молитва 
                    у Гестиманском 
                    врту</font>
                        </div>
                    </td>
                    <td height="19">
                        <div align="center">
                            <font size="2" face="Arial, Helvetica, sans-serif">Успење Пресвете 
                    Богородице
                    </font>
                        </div>
                    </td>
                    <td></td>
                </tr>

</table>
<br /><br />
<table align="center">
    <tr>
        <td height="41" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="41">
                        <div align="center">
                            <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510"
                                align="center" border="1">
                                <tbody>
                                    <tr>
                                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="23">
                                            <div align="center">
                                                <a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Scene.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет фресака ОХРИД СЦЕНЕ</font></a><font face="Arial, Helvetica, sans-serif" size="2"> 
                            (0.8 МБ)</font>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="53" valign="top">
            <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510"
                align="center" border="1">
                <tbody>
                    <tr>
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="2">
                            <p align="center">
                                <font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                    [ <a href="@Url.Action("Freske_Ohrid1", "Riznice")">1</a> 2<a href="@Url.Action("Freske_Ohrid2", "Riznice")"> 
                    </a> ]&nbsp;</strong><a href="@Url.Action("Freske_Ohrid1", "Riznice")">&lt;&lt; 
                    претходна<strong>&nbsp;</strong></a></font>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p align="center">&nbsp;</p>
        </td>
    </tr>
</table>
