@{
    ViewBag.Title = "Фреске Протат 4";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

<ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Протат, Света Гора Атонска, 1290.", "Freske_Protat01", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("2. Протат, Света Гора Атонска, 1290.", "Freske_Protat02", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("3. Протат, Света Гора Атонска, 1290.", "Freske_Protat03", "Riznice")<span class="divider">/</span></li>
            <li class="active">4. Протат, Света Горa ...</li>

    </ul>


 <tr> 
          <td height="18" colspan="4"></td>
          <td width="148"></td>
          <td width="12"></td>
        </tr>
        <tr> 
          <td height="497" valign="top" colspan="5"> 
            <table width="100%" border="0" height="497" cellpadding="0" cellspacing="0">
              <tr valign="middle"> 
                <td colspan="3" height="59"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif"><b>ПОЈЕДИНАЧНЕ 
                    СЦЕНЕ</b></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td width="189" height="138" bgcolor="#E3E2CC"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/IC%20XC.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/IC%20XC.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="206" height="138" bgcolor="#E3E2CC"> 
                  <div align="center"></div>
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Razgovor%20sa%20Samarjankom.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Razgovor%20sa%20Samarjankon.gif" width="130" height="113" border="0"></a></div>
                </td>
                <td width="177" height="138" bgcolor="#E3E2CC"> 
                  <div align="center"></div>
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Samarjanka.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Samarjanka.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td colspan="3" height="28" bgcolor="#E3E2CC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Разговор 
                    са Самарјанком</font></div>
                </td>
              </tr>
              <tr> 
                <td height="44" colspan="3"></td>
              </tr>
              <tr> 
                <td height="216" colspan="3" valign="top"> 
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" height="186">
                    <tr> 
                      <td valign="top" colspan="4"></td>
                    </tr>
                    <tr bgcolor="#D8D8D8" valign="middle"> 
                      <td height="150" width="143"> 
                        <div align="center"></div>
                        <div align="center"></div>
                        <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/panse56.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/panse56.gif" width="96" height="113" border="0"></a></div>
                      </td>
                      <td height="150" width="143"> 
                        <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pansel46.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pansel46.gif" width="82" height="113" border="0"></a></div>
                      </td>
                      <td width="151"> 
                        <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Skinija.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Skinija.gif" width="65" height="113" border="0"></a></div>
                      </td>
                      <td width="152"> 
                        <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Skinija%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Skinija%20detalj.gif" width="101" height="113" border="0"></a></div>
                      </td>
                    </tr>
                    <tr bgcolor="#D8D8D8" valign="middle"> 
                      <td height="36"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Проповед</font></div>
                      </td>
                      <td height="36"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Са 
                          ученицима</font></div>
                      </td>
                      <td> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Скинија</font></div>
                      </td>
                      <td> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Скинија-детаљ</font></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="12" colspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr> 
          <td height="334" colspan="6" valign="top"> 
            <table width="98%" border="0" cellpadding="0" cellspacing="0">
              <tr bgcolor="#F2E3BF"> 
                <td valign="middle" height="145" colspan="4"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Sv.Jovan%20sa%20sv.Prohorom.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Sv.Jovan%20sa%20sv.Prohorom.gif" width="120" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr bgcolor="#F2E3BF" valign="middle"> 
                <td width="153" height="149" valign="middle"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Sv%20Jovan%20teolog%20detalj%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Sv%20Jovan%20teolog%20detalj%203.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td valign="middle" width="129"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Sv%20Jovan%20teolog.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Sv%20Jovan%20teolog.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="123" valign="middle"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Sv%20Jovan%20teolog%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Sv%20Jovan%20teolog%20detalj.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="168" valign="middle"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Sv%20Jovan%20teolog%20detalj2.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Sv%20Jovan%20teolog%20detalj2.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="middle" bgcolor="#F2E3BF"> 
                <td colspan="4" height="39" valign="top"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Јован 
                    Богослов са Прохором</font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="30" width="150"></td>
          <td width="143"></td>
          <td width="5"></td>
          <td width="126"></td>
          <td></td>
          <td></td>
        </tr>
        <tr> 
          <td height="136" valign="middle" bgcolor="#D5CEA8"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pansel16.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pansel16.gif" width="97" height="113" border="0"></a></div>
          </td>
          <td valign="middle" bgcolor="#D5CEA8" colspan="2"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pansel15.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pansel15.gif" width="96" height="113" border="0"></a></div>
          </td>
          <td valign="middle" bgcolor="#D5CEA8"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pansel17.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pansel17.gif" width="82" height="113" border="0"></a></div>
          </td>
          <td valign="middle" bgcolor="#D5CEA8"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pansel18.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pansel18.gif" width="90" height="113" border="0"></a></div>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="36" colspan="5" valign="middle" bgcolor="#D5CEA8"> 
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Рођење 
              Св.Јована </font></div>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="28" colspan="5"></td>
          <td></td>
        </tr>
        <tr> 
          <td height="52" colspan="6" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="146" height="52"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Lestvica%20Jakovljeva.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Lestvica%20Jakovljeva.gif" width="70" height="113" border="0"></a></div>
                </td>
                <td width="146" height="52"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/Lestvica%20Jakovljeva%20detalj.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/Lestvica%20Jakovljeva%20detalj.gif" width="78" height="113" border="0"></a></div>
                </td>
                <td width="146" height="52"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/pans1.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/pans1.gif" width="82" height="115" border="0"></a></div>
                </td>
                <td width="146" height="52"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Protat/Images/Scene/panse2.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Scene/panse2.gif" width="83" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="38" colspan="2" valign="middle"> 
            <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Лествице 
              Јаковљеве</font></div>
          </td>
          <td colspan="4" valign="top" height="38">&nbsp;</td>
        </tr>
        <tr> 
          <td height="41" valign="top" colspan="6"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td>&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="44" valign="top" colspan="6"> 
            <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
              <tbody> 
              <tr> 
                <td bordercolor=#ffffff bgcolor=#f0f0f0> 
                  <p align=center><font color=#999999><a href="@Url.Action("Freske_Protat03", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                    претходна</font></a></font><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Protat01", "Riznice")">&nbsp;&nbsp;</a>&nbsp;&nbsp;<strong>[ 
                    <a href="@Url.Action("Freske_Protat01", "Riznice")">1</a> <a href="@Url.Action("Freske_Protat02", "Riznice")">2</a> 
                    <a href="@Url.Action("Freske_Protat03", "Riznice")">3</a> 4]&nbsp;&nbsp;&nbsp;</strong></font></p>
                </td>
              </tr>
              </tbody> 
            </table>
            
          </td>
        </tr>
        <tr>
          <td height="51" valign="top" colspan="6"> 
            <div align="center">
              <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                <tbody> 
                <tr> 
                  <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                    <p align=center><a href="~/Content/images/Riznice/Freske/Protat/Images/PROTATscene.rar"><font size="2" face="Arial, Helvetica, sans-serif">Преузми 
                      комплет фресака Протат-СЦЕНЕ</font></a><font size="2" face="Arial, Helvetica, sans-serif">(4.4 
                      0МВ)</font></p>
                  </td>
                </tr>
                </tbody> 
              </table>
            </div>
          </td>
        </tr>