@{
    ViewBag.Title = "Фреске Протат 3";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Протат, Света Гора Атонска, 1290.", "Freske_Protat01", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("2. Протат, Света Гора Атонска, 1290.", "Freske_Protat02", "Riznice")<span class="divider">/</span></li>
            <li class="active">3. Протат, Света Гора Атонска, 1290.</li>

    </ul>


<tr> 
          <td height="18" width="572"></td>
          <td width="12"></td>
        </tr>
        <tr> 
          <td height="606" valign="top"> 
            <table width="100%" border="0" height="580" cellpadding="0" cellspacing="0">
              <tr valign="middle"> 
                <td height="59"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif"><b>БОГОРОДИЧИНИ 
                    ПРАЗНИЦИ </b></font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="138" bgcolor="#E3E2CC"> 
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20Bogorodice.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20Bogorodice.gif" width="340" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="28" valign="top" bgcolor="#E3E2CC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Успење 
                    Пресвете Богородице</font></div>
                </td>
              </tr>
              <tr> 
                <td height="221" valign="top"> 
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" height="364">
                    <tr> 
                      <td height="30" valign="top" colspan="4" bgcolor="#E3E2CC"></td>
                    </tr>
                    <tr valign="middle"> 
                      <td height="137" valign="top" colspan="2" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete.gif" width="179" height="113" border="0"></a></font></div>
                      </td>
                      <td valign="top" colspan="2" bgcolor="#E3E2CC" height="137"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%202.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%202.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                    </tr>
                    <tr valign="top"> 
                      <td width="141" height="134" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%206.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%206.gif" width="104" height="113" border="0"></a></font></div>
                      </td>
                      <td width="146" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%204.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%204.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                      <td width="136" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%205.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%205.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                      <td width="149" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%203.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%203.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                    </tr>
                    <tr valign="top"> 
                      <td height="134" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%201.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%201.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                      <td bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%202.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%202.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                      <td bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%207.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%207.gif" width="103" height="113" border="0"></a></font></div>
                      </td>
                      <td bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Protat/Images/Praznici/Uspenje%20Presvete%20detalj%203.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Protat/Thumbnails/Praznici/Uspenje%20Presvete%20detalj%203.gif" width="82" height="113" border="0"></a></font></div>
                      </td>
                    </tr>
                    <tr valign="middle"> 
                      <td height="31" colspan="4" valign="top" bgcolor="#E3E2CC"> 
                        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Успење 
                          Пресвете Богородице</font>-<font face="Arial, Helvetica, sans-serif" size="2"> 
                          детаљи</font></div>
                      </td>
                    </tr>
                    <tr valign="middle"> 
                      <td height="33" colspan="4"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="96" colspan="2" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <div align="center">
                      <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                        <tbody> 
                        <tr> 
                          <td bordercolor=#ffffff bgcolor=#f0f0f0> 
                            <p align=center><font color=#999999><a href="@Url.Action("Freske_Protat02", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                              претходна</font></a></font><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Freske_Protat02", "Riznice")">&nbsp;&nbsp;</a>&nbsp;&nbsp;<strong>[ 
                              <a href="@Url.Action("Freske_Protat01", "Riznice")">1</a> <a href="@Url.Action("Freske_Protat02", "Riznice")">2</a> 
                              3 <a href="@Url.Action("Freske_Protat04", "Riznice")">4</a>]&nbsp;&nbsp;&nbsp;</strong></font><font color=#999999><a href="@Url.Action("Freske_Protat04", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">следећа</font></a></font><a href="@Url.Action("Freske_Protat04", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&gt;&gt;</font></a></p>
                          </td>
                        </tr>
                        </tbody> 
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><a href="~/Content/images/Riznice/Freske/Protat/Images/PROTATpraznici.rar"><font size="2" face="Arial, Helvetica, sans-serif">Преузми 
                            комплет фресака Протат-ПРАЗНИЦИ </font></a><font size="2" face="Arial, Helvetica, sans-serif">(29.7 
                            МВ)</font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="23"></td>
          <td></td>
        </tr>