@{
    ViewBag.Title = "2. Иконе Богородице";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Пресвета Богородицa", "Ikone_Bogorodice1", "Riznice")<span class="divider">/</span></li>
            <li class="active">2. Пресвета Богородица</li>

    </ul>

<table>

<tr> 
          <td height="419" valign="top"> 
            <table width="100%" border="0" height="377">
              <tr valign="top"> 
                <td width="22%" height="109"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/glikofileusa%20dionisijat%201685.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/glikofileusa%20dionisijat%201685.gif" width="85" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="109"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/kikotisa.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/kikotisa.gif" width="66" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="109"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Longin%201578.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Longin%201578.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="109"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/mlekopitateljica%20hilandar.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/mlekopitateljica%20hilandar.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="109"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/neocekivana%20radost.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/neocekivana%20radost.gif" width="75" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Гликофилеуса</font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Кикотиса</font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Царица 
                    небесна </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Млекопитателница</font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Н<font face="Arial, Helvetica, sans-serif">еочекивана</font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дионисијат</font></div>
                </td>
                <td width="19%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif" size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">ман.Св.Катарине</font></font></font> 
                    </font></font></font></font></div>
                </td>
                <td width="19%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">рад</font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Хиландар</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">радост</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Света 
                    Гора </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Синај</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="13"> 
                  <div align="center"><font size="2"><font size="2" face="Arial, Helvetica, sans-serif">зографа 
                    Лонгина</font><font size="2"></font></font></div>
                </td>
                <td width="20%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="39"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">1685.год</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="39"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">11.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="39"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">1578.год</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="39"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"> 
                    </font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="39"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="120"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/774.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/774.gif" width="74" height="113" border="0"></a></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="120"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/BcaSaHristom.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/BcaSaHristom.gif" width="89" height="113" border="0"></a></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="120"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/TuKiku.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/TuKiku.gif" width="75" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="120"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/18.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/18.gif" width="66" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="120" valign="middle"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Bca%20na%20tronu.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Bca%20na%20tronu.gif" width="61" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="22%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2">Одигитрија</font></font></font></font></font></div>
                </td>
                <td width="19%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">са 
                    Христом </font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Кикотиса</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Ентрони</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">на 
                    трону</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="107">
              <tr>
                <td height="41">
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Ikone_Bogorodice3", "Riznice")">следећа 
                            &gt;&gt;</a> </font><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Ikone_Bogorodice1", "Riznice")">1</a> 2 <a href="@Url.Action("Ikone_Bogorodice3", "Riznice")">3</a> 
                            <a href="@Url.Action("Ikone_Bogorodice4", "Riznice")">4</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong><a href="@Url.Action("Ikone_Bogorodice1", "Riznice")">&lt;&lt; 
                            претходна</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="62"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Ikone%20BCe%202.zip">Преузми 
                            комплет ИКОНЕ БОГОРОДИЦЕ 2</a> (2.9 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>