@{
    ViewBag.Title = "IkoneICXC2";
}

<h2>Иконе ИС ХС 2</h2>
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Исус Христос 1", "IkoneICXC1", "Riznice")<span class="divider">/</span></li>
            <li class="active">Исус Христос 2</li>

    </ul>

 
        <tr> 
          <td height="411" valign="top"> 
            <table width="100%" border="0" height="302">
              <tr valign="top"> 
                <td width="20%" height="100"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc10.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc10.gif" width="77" height="99" border="0"></a></font></div>
                </td>
                <td width="20%" height="100"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc11.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc11.gif" width="64" height="99" border="0"></a></font></div>
                </td>
                <td width="17%" height="100"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc12.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc12.gif" width="59" height="99" border="0"></a></div>
                </td>
                <td width="20%" height="100"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc13.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc13.gif" width="61" height="99" border="0"></a></div>
                </td>
                <td width="23%" height="100"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc14.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc14.gif" width="67" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font></div>
                </td>
                <td width="20%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></div>
                </td>
                <td width="17%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></div>
                </td>
                <td width="20%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">на 
                    престолу </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">на 
                    престолу </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top">
                <td width="20%" height="6">&nbsp;</td>
                <td width="20%" height="6">
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">рад 
                    Андреја </font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="17%" height="6">
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">ман.Варлаам 
                    </font></font></font></div>
                </td>
                <td width="20%" height="6">
                  <div align="center"></div>
                </td>
                <td width="23%" height="6">
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">зограф 
                    Лонгин</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Ивирон</font></font></font></div>
                </td>
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">критског</font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="17%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"> 
                    Метеори </font></font></font></div>
                </td>
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Атина</font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Дечани</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Атос, 
                    16.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">16.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="17%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">16.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">16.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">16.век</font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="96"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Pantokrator_na_tronu-zasticeno.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Pantokrator_na_tronu-zasticeno.gif" width="68" height="99" border="0"></a></div>
                </td>
                <td width="20%" height="96"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Ubrus%2019v.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Ubrus%2019v.gif" width="81" height="99" border="0"></a></div>
                </td>
                <td width="17%" height="96"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Veliki_Arhijerej.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Veliki%20arhijerej.gif" width="74" height="99" border="0"></a></div>
                </td>
                <td width="20%" height="96"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/VelikiArhijerej.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/VelikiArhijerej.gif" width="75" height="99" border="0"></a></div>
                </td>
                <td width="23%" height="96"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Vmeteori.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Vmeteori.gif" width="68" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="8"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">на 
                    престолу </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="8"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Нерукотворени</font></font></font></font></font></div>
                </td>
                <td width="17%" height="8"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Велики</font></font></font></font></font></div>
                </td>
                <td width="20%" height="8"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Велики</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="8"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"></font></font></font></font></div>
                </td>
                <td width="20%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">образ</font></font></font></font></font></div>
                </td>
                <td width="17%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">архијереј</font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="20%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2" face="Arial, Helvetica, sans-serif">архијереј</font></font></font></font></div>
                </td>
                <td width="23%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Велики 
                    Метеори </font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="33"> 
                  <div align="center"><font size="2"><font size="2"></font></font></div>
                </td>
                <td width="20%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Русија, 
                    19.век</font></font></font></div>
                </td>
                <td width="17%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="20%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="23%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0"><br /><br />
              <tr>
                <td height="41">
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("IkoneICXC1", "Riznice")">1</a> 2 ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong><a href="@Url.Action("IkoneICXC1", "Riznice")">&lt;&lt;претходна</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Ikone_IC_XC_2.zip">Преузми 
                            комплет ИКОНЕ ИСУСА ХРИСТА 2</a> (1.8 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>