@{
    ViewBag.Title = "Ikone Praznika 1";
}

<h2>Иконе Празника 1</h2>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li class="active">Празници 1</li>

    </ul>

 <tr> 
          <td height="288" valign="top"> 
            <table width="100%" border="0" height="287">
              <tr valign="top"> 
                <td width="20%" height="104"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Blagovesti.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Blagovesti.gif" width="68" height="99" border="0"></a></font></div>
                </td>
                <td width="19%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Rozdestvo.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Rozdestvo.gif" width="63" height="99" border="0"></a></div>
                </td>
                <td width="21%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Sretenje.jpg"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Sretenje.gif" width="65" height="99" border="0"></a></div>
                </td>
                <td width="18%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Cveti.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Cveti.gif" width="69" height="99" border="0"></a></div>
                </td>
                <td width="22%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Preobrazenje%20Hristovo.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Preobrazenje%20Hristovo.gif" width="67" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="35"> 
                  <div align="center"><font size="2"><font face="Arial, Helvetica, sans-serif">Благовести</font></font></div>
                </td>
                <td width="19%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Рождество</font></font></font></font></font></font></font></div>
                </td>
                <td width="21%" height="35"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Сретење</font></div>
                </td>
                <td width="18%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Ватопед</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2">Преображење</font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Raspece%20Hristovo3.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Raspece%20Hristovo3.gif" width="68" height="99" border="0"></a></div>
                </td>
                <td width="19%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Vaskrsenje%20Hristovo.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Vaskrsenje%20Hristovo.gif" width="66" height="99" border="0"></a></div>
                </td>
                <td width="21%" height="102"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Neverovanje%20Tomino.JPG"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Neverovanje%20Tomino.gif" width="69" height="99" border="0"></a></font></div>
                </td>
                <td width="18%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Uspenje%20Presvete%20Bogorodice.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Uspenje%20Presvete%20Bogorodice.gif" width="68" height="99" border="0"></a></div>
                </td>
                <td width="22%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Pedesetnica.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Pedesetnica.gif" width="66" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Распеће</font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Силазак 
                    у Ад</font></font></font></font></font></div>
                </td>
                <td width="21%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Неверовање 
                    Томино </font></font></font></font></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Успење 
                    Богородице </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Педестеница</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41">
                  <div align="center"><br /><br /><br />
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Ikone_Praznika2", "Riznice")">следећа 
                            &gt;&gt;</a> </font><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            1 <a href="@Url.Action("Ikone_Praznika2", "Riznice")">2</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici%201.zip">Преузми 
                            комплет ИКОНЕ ПРАЗНИКА 1 </a>(2.4 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>