@{
    ViewBag.Title = "IkoneICXC1";
}

<h2>Ikone IC XC 1</h2>
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризница", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            
            <li class="active">Исус Христос 1</li>
        </ul>

<tr> 
          <td height="418" valign="top"> 
            <table width="100%" border="0" height="337">
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Gospod_na_nebeskom_prestolu.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Gospod_na_nebeskom_prestolu.gif" width="73" height="99" border="0"></a></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/Gospod_15_vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/Gospod_15_vek.gif" width="73" height="99" border="0"></a></font></div>
                </td>
                <td width="24%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc01.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC//Thumbnails/icxc01.gif" width="89" height="99" border="0"></a></div>
                </td>
                <td width="16%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc02.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc02.gif" width="74" height="99" border="0"></a></div>
                </td>
                <td width="22%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc03.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc03.gif" width="68" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">са 
                    силама </font></font></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="24%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Н<font face="Arial, Helvetica, sans-serif">ерукотворени 
                    образ</font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="16%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Ватопед</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Москва</font></font></font></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="24%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Новгород</font></font></font></div>
                </td>
                <td width="16%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Света 
                    Гора </font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="40"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">12.век</font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></div>
                </td>
                <td width="18%" height="40"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">15.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="24%" height="40"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">12.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="16%" height="40"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">12.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="40"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">13.век</font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc04.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc04.gif" width="71" height="99" border="0"></a></div>
                </td>
                <td width="18%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc05.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc05.gif" width="73" height="99" border="0"></a></div>
                </td>
                <td width="24%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc07.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc07.gif" width="69" height="99" border="0"></a></div>
                </td>
                <td width="16%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc08.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc08.gif" width="68" height="99" border="0"></a></div>
                </td>
                <td width="22%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/ICXC/Images/icxc09.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/ICXC/Thumbnails/icxc09.gif" width="74" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font></font></font></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Пантократор</font></font></font></font></font></div>
                </td>
                <td width="24%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Спаситељ</font></font></font></font></font></div>
                </td>
                <td width="16%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Спаситељ</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Одигитрија</font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">црква 
                    св.Климента </font></div>
                </td>
                <td width="18%" height="10">&nbsp;</td>
                <td width="24%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">рад 
                    св. Андреја <font face="Arial, Helvetica, sans-serif"><font size="2">Рубљова</font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="16%" height="10">&nbsp;</td>
                <td width="22%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Дионисијат 
                    </font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Охрид</font></div>
                </td>
                <td width="18%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></div>
                </td>
                <td width="24%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif" size="2">Русија</font></font></div>
                </td>
                <td width="16%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"></font></font></font></div>
                </td>
                <td width="22%" height="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Света 
                    Гора </font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">13.век</font></font></font></div>
                </td>
                <td width="18%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font></div>
                </td>
                <td width="24%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></font></div>
                </td>
                <td width="16%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="2"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0"><br /><br />
              <tr>
                <td height="41">
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("IkoneICXC2", "Riznice")">следећа 
                            &gt;&gt;</a> </font><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            1 <a href="@Url.Action("IkoneICXC2", "Riznice")">2</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
                <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Ikone_BCe 1.zip">Преузми 
                            комплет ИКОНЕ БОГОРОДИЦЕ 1 </a>(1.7 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>