@{
    ViewBag.Title = "2. Иконе Празника";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Празници", "Ikone_Praznika1", "Riznice")<span class="divider">/</span></li>
            <li class="active">2. Празници</li>

</ul>

 <tr> 
          <td height="288" valign="top"> 
            <table width="100%" border="0" height="287">
              <tr valign="top"> 
                <td width="20%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Rozdestvo%202.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Rozdestvo%202.gif" width="75" height="99" border="0"></a></div>
                </td>
                <td width="19%" height="104"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Bogojavljenje.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Bogojavljenje.gif" width="75" height="99" border="0"></a></font></div>
                </td>
                <td width="21%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Kamenovanje.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Kamenovanje.gif" width="76" height="99" border="0"></a></div>
                </td>
                <td width="18%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Raspece.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Raspece.gif" width="73" height="99" border="0"></a></div>
                </td>
                <td width="22%" height="104"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/NeverovanjeTomino.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/NeverovanjeTomino.gif" width="82" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="35"> 
                  <div align="center"><font size="2"><font face="Arial, Helvetica, sans-serif">Благовести</font></font></div>
                </td>
                <td width="19%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Богојављење</font></font></font></font></font></font></font></div>
                </td>
                <td width="21%" height="35"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Каменовање 
                    св.Стефана </font></div>
                </td>
                <td width="18%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Распеће</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="35"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Неверовање 
                    Томино </font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Vaznesenje.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Vaznesenje.gif" width="77" height="99" border="0"></a></div>
                </td>
                <td width="19%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/SvetaTriJerarha.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/SvetaTriJerarha.gif" width="73" height="99" border="0"></a></div>
                </td>
                <td width="21%" height="102"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Vavedenje.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Vavedenje.gif" width="76" height="99" border="0"></a></font></div>
                </td>
                <td width="18%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/Usekovanje.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/Usekovanje.gif" width="72" height="99" border="0"></a></div>
                </td>
                <td width="22%" height="102"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Praznici/Images/praz08.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Praznici/Thumbnails/praz08.gif" width="50" height="99" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="20%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Вазнесење</font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Св.три 
                    јерарха </font></font></font></font></font></div>
                </td>
                <td width="21%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">В</font><font size="2" face="Arial, Helvetica, sans-serif">аведење</font></font></font></font></div>
                </td>
                <td width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Усековање</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2">Младенци</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41">
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Ikone_Praznika1", "Riznice")">1 </a>2 ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong><a href="@Url.Action("Ikone_Praznika1", "Riznice")">&lt;&lt;претходна</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Praznici%202.zip">Преузми 
                            комплет ИКОНЕ ПРАЗНИКА 2 </a>(3.6 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>