@{
    ViewBag.Title = "Иконе Богородице 4";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Пресвета Богородицa 1", "Ikone_Bogorodice1", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Пресвета Богородицa 2", "Ikone_Bogorodice2", "Riznice")<span class="divider">/</span></li>
             <li>@Html.ActionLink("Пресвета Богородицa 3", "Ikone_Bogorodice3", "Riznice")<span class="divider">/</span></li>
            <li class="active">Пресвета Богородица 4</li>

    </ul>

 <tr> 
          <td height="567" valign="top"> 
            <table width="100%" border="0" height="445">
              <tr valign="top"> 
                <td width="19%" height="117"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/8.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/8.gif" width="88" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="117"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Andrej%20Kritski.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Andrej%20Kritski.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="117"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/bgrd12.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/bgrd12.gif" width="83" height="113" border="0"></a></div>
                </td>
                <td width="21%" height="117"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/bgrd13.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/bgrd13.gif" width="86" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="117"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Dechani.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Dechani.gif" width="75" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Владимирска</font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Елеуса</font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="19%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Одигитрија</font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
                <td width="21%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Елеуса</font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
                <td width="22%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Елеуса 
                    ентрони </font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Русија</font></font></font></font></font></div>
                </td>
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"></font></font></font></font><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Ватопед</font></font></font></div>
                </td>
                <td width="21%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
                <td width="22%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">12.век</font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">12.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="19%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">13.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="21%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">крај 
                    13.века</font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">14.век</font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/glikofileusa%20dionisijat%201685.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/glikofileusa%20dionisijat%201685.gif" width="85" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Iveron.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Iveron.gif" width="88" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="118"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/TeofanGrk.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/TeofanGrk.gif" width="58" height="113" border="0"></a></font></font></font></div>
                </td>
                <td width="21%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Patmos.JPG" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Patmos.gif" width="62" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Psihosostrija.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Psihosostrija.gif" width="87" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="15"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Гликофилеуса</font></font></font></font></font></div>
                </td>
                <td width="19%" height="15"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">О</font><font size="2" face="Arial, Helvetica, sans-serif">дигитрија</font></font></font></font></div>
                </td>
                <td width="19%" height="15"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">из 
                    Деизиса </font></font></font></font></font></div>
                </td>
                <td width="21%" height="15"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Царица 
                    небесна </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="22%" height="15"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Психосострија</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="9"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Дионисијат</font></font></font></font></font></div>
                </td>
                <td width="19%" height="9"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Иверон</font></font></font></font></font></div>
                </td>
                <td width="19%" height="9"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Теофан 
                    Грк </font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="21%" height="9"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2" face="Arial, Helvetica, sans-serif">Патмос</font></font></font></font></div>
                </td>
                <td width="22%" height="9"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">црква 
                    Св.Климента </font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">1685.</font></font></font></div>
                </td>
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font></div>
                </td>
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">14.век</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="21%" height="33"> 
                  <div align="center"><font size="2"><font size="2"></font></font></div>
                </td>
                <td width="22%" height="33"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Охрид 
                    14.век</font> </div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Stradalna.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Stradalna.gif" width="96" height="113" border="0"></a></font></font></font></div>
                </td>
                <td width="19%" height="33"> 
                  <div align="center"><font size="2"></font></div>
                </td>
                <td width="21%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><a href="~/Content/images/Riznice/Ikone/Bogorodica/Images/Oranta.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Bogorodica/Thumbnails/Oranta.gif" width="110" height="106" border="0"></a></font></font></font></font></div>
                </td>
                <td width="22%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Страдална</font></font></font></div>
                </td>
                <td width="19%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="21%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Оранта</font></font></font></div>
                </td>
                <td width="22%" height="14"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41">
                  <div align="center"><br /><br /><br />
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Ikone_Bogorodice1", "Riznice")">1</a> <a href="@Url.Action("Ikone_Bogorodice2", "Riznice")">2</a> 
                            <a href="@Url.Action("Ikone_Bogorodice3", "Riznice")">3</a> 4]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong><a href="@Url.Action("Ikone_Bogorodice3", "Riznice")">&lt;&lt;претходна</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Ikone%20BCe%204.zip">Преузми 
                            комплет ИКОНЕ БОГОРОДИЦЕ 4</a> (3.2 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>