@{
    ViewBag.Title = "1. Иконе Ангела";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Иконе", "Ikone", "Riznice")<span class="divider">/</span></li>
            <li class="active">1. Иконе Ангела</li>

    </ul>

<tr> 
          <td height="468" valign="top"> 
            <table width="100%" border="0" height="356">
              <tr valign="top"> 
                <td width="24%" height="122"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/Mihailo.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/Mihailo.gif" width="71" height="113" border="0"></a></div>
                </td>
                <td width="23%" height="122"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/angl02.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/angl02.gif" width="72" height="113" border="0"></a></font></div>
                </td>
                <td width="25%" height="122"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/angl03.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/angl03.gif" width="77" height="113" border="0"></a></font></div>
                </td>
                <td width="28%" height="122"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/arh.%20mihailo%20sa%20zitiem.%2015.%20vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/arh.%20mihailo%20sa%20zitiem.%2015.%20vek.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Михајло</font></font></font></font></font></div>
                </td>
                <td width="23%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Гаврило</font></font></font></font></font></font></font></font></div>
                </td>
                <td width="25%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.Михајло</font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="28%" height="10"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Арх.Михајло</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="16"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font></font></font></font></font></div>
                  </td>
                <td width="23%" height="16"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"></font></font></font></font><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">Хиландар</font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="25%" height="16"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">рад 
                    Св.Андреја </font></font></font></div>
                </td>
                <td width="28%" height="16"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">са 
                    житијем </font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">14.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></font></div>
                </td>
                <td width="23%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2">14.век</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="25%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Рубљ</font></font></font><font face="Arial, Helvetica, sans-serif">ова, 
                    1407.</font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="28%" height="44"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">крај 
                    13.века</font></font></font></font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/arh.%20gavrilo,15.%20vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/arh.%20gavrilo,15.%20vek.gif" width="41" height="113" border="0"></a></div>
                </td>
                <td width="23%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/arh.%20gavrilo.%2015.%20vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/arh.%20gavrilo.%2015.%20vek.gif" width="51" height="113" border="0"></a></div>
                </td>
                <td width="25%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/arh.%20mihail1493.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/arh.%20mihail1493.gif" width="42" height="113" border="0"></a></div>
                </td>
                <td width="28%" height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Ikone/Angeli/Images/arh.%20mihajlo15.%20vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Ikone/Angeli/Thumbnails/arh.%20mihajlo15.%20vek.gif" width="43" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Гаврило</font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Гаврило</font></font></font></font></font></font></font></font></font></font></font></div>
                </td>
                <td width="25%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Михајло</font></font></font></font></font></font></font></font></div>
                </td>
                <td width="28%" height="12"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Архгл.</font></font></font></font></font></font></font></font></font></font></font></font><font face="Arial, Helvetica, sans-serif">Михајло</font></font></font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Русија</font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Русија</font></font></font></font></font></font></div>
                </td>
                <td width="25%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Русија</font></font></font></font></font></font></div>
                </td>
                <td width="28%" height="11"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Русија</font></font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"> 
                    15.век</font></font></font></div>
                </td>
                <td width="23%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></div>
                </td>
                <td width="25%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></div>
                </td>
                <td width="28%" height="33"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">15.век</font></font></font></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41">
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Ikone_Angela2", "Riznice")">следећа 
                            &gt;&gt;</a> </font><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            1 <a href="@Url.Action("Ikone_Angela2", "Riznice")">2</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Ikone/Angeli%201.zip">Преузми 
                            комплет ИКОНЕ АНГЕЛА 1</a> (1.2 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>