@{
    ViewBag.Title = "Краснопис";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Краснопис</li>

    </ul>
<table>
<tr> 
          <td height="479" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="18%" height="125"> 
                  <div align="center"><a href="@Url.Action("Rukopisni1", "Riznice")" target="_top"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Rukopisni.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="125"> 
                  <div align="center"><a href="@Url.Action("Bordure", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Bordure.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="125"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Bordure2", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Bordure%20CB.gif" width="76" height="113" border="0"></a></font></div>
                </td>
                <td width="20%" height="125"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Ikonice", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Ikonice.gif" width="80" height="113" border="0"></a></font></div>
                </td>
                <td width="23%" height="125"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Medaljoni", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Medaljoni.gif" width="107" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="72"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Рукописни 
                    орнамент средњег века</font></div>
                </td>
                <td width="19%" height="72"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент БОРДУРЕ</font></font></font></div>
                </td>
                <td width="20%" height="72"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент БОРДУРЕ 2</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></font></div>
                </td>
                <td width="20%" height="72"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ИКОНИЦЕ</font></font></font></font></font></font></div>
                </td>
                <td width="23%" height="72"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент МЕДАЉОНИ</font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="129"> 
                  <div align="center"><a href="@Url.Action("Viz_slova", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Slova.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="129"> 
                  <div align="center"><a href="@Url.Action("Trake", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Trake.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="129"> 
                  <div align="center"><a href="@Url.Action("Zastavice1", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%201.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="129"> 
                  <div align="center"><a href="@Url.Action("Zastavice2", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%202.gif" width="68" height="113" border="0"></a></div>
                </td>
                <td width="23%" height="129"> 
                  <div align="center"><a href="@Url.Action("Zastavice3", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%203.gif" width="80" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="86"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент СЛОВА</font></font></font></div>
                </td>
                <td width="19%" height="86"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент . ТРАКЕ</font></font></font></font></div>
                </td>
                <td width="20%" height="86"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 1</font></font></font></div>
                </td>
                <td width="20%" height="86"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент </font><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">ЗАСТАВИЦЕ 
                    2 </font></font></font></font></font></div>
                </td>
                <td width="23%" height="86"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент </font><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">ЗАСТАВИЦЕ 
                    3 </font></font></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice4", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%204.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice5", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%205.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice6", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%206.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice7", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%207.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="23%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice8", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%208.gif" width="83" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="89"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 4</font></font></font></div>
                </td>
                <td width="19%" height="89"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 5</font></font></font></div>
                </td>
                <td width="20%" height="89"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 6</font></font></font></div>
                </td>
                <td width="20%" height="89"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 7</font></font></font></div>
                </td>
                <td width="23%" height="89"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 8</font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="57"> 
                  <div align="center"></div>
                </td>
                <td width="19%" height="57"> 
                  <div align="center"><a href="@Url.Action("Zastavice9", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Zastavice%209.gif" width="85" height="113" border="0"></a></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"><a href="@Url.Action("Okviri", "Riznice")" target="_self"><img src="~/Content/images/Riznice/Krasnopis/Navigacijai/Okviri%20CB.gif" width="77" height="113" border="0"></a></div>
                </td>
                <td width="23%" height="57"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="57"> 
                  <div align="center"></div>
                </td>
                <td width="19%" height="57"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ЗАСТАВИЦЕ 9</font></font></font></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"><font size="2"><font size="2"></font></font></div>
                </td>
                <td width="20%" height="57"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Византијски 
                    орнамент ОКВИРИ</font></font></font></div>
                </td>
                <td width="23%" height="57"> 
                  <div align="center"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>