@{
    ViewBag.Title = "1. Рукописни орнаменти";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">1. Рукописни орнаменти</li>

    </ul>

<table>

<tr> 
          <td height="288" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="18%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/01%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/01%20Rukopisne%20vinjete.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/02%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/02%20Rukopisna%20slova.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/03%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/03%20Rukopisni%20ornamenti.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/06%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/06%20Rukopisna%20slova.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/07%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/07%20Rukopisni%20ornamenti.gif" width="81" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/08%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/08%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/09%20Rukopisni%20ornamenti.jpg"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/09%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></font></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/10%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/10%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/11%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/11%20Rukopisni%20ornamenti.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/12%20Rukopisni%20ornamenti.jpg" target="_top"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/12%20Rukopisni%20ornamenti.gif" width="85" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/13%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/13%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/15%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/15%20Rukopisni%20ornamenti.gif" width="79" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/16%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/16%20Rukopisna%20slova.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/17%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/17%20Rukopisna%20slova.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/18%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/18%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/19%20Rukopisni%20ornamenti.jpg"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/19%20Rukopisni%20ornamenti.gif" width="79" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/20%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/20%20Rukopisni%20ornamenti.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/22%20Rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/22%20Rukopisni%20ornamenti.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/23%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/23%20Rukopisne%20vinjete.gif" width="75" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/24%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/24%20Rukopisne%20vinjete.gif" width="85" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41" valign="top"> 
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            1<a href="@Url.Action("Rukopisni2", "Riznice")"> 2</a> ]&nbsp;</strong> 
                            </font><font color="#999999" face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Rukopisni2", "Riznice")">следећа 
                            &gt;&gt;</a></font> </p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Rukopisni%201.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет РУКОПИСНИ 1</font></a><font face="Arial, Helvetica, sans-serif" size="2">(1.25 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>