@{
    ViewBag.Title = "2. Рукописни орнаменти";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("1. Рукописни орнаменти", "Rukopisni1", "Riznice")<span class="divider">/</span></li>
            <li class="active">2. Рукописни орнаменти</li>

    </ul>

<table>

 <tr> 
          <td height="288" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="18%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/56%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/56%20Rukopisne%20vinjete.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/58%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/58%20Rukopisna%20slova.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/35%20rukopisni%20ornamenti.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/35%20rukopisni%20ornamenti.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/36%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/36%20Rukopisna%20slova.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/42%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/42%20Rukopisna%20slova.gif" width="75" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/44%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/44%20Rukopisne%20vinjete.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/47%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/47%20Rukopisne%20vinjete.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/48%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/48%20Rukopisna%20slova.gif" width="90" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/49%20Rukopisna%20slova.jpg"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/49%20Rukopisna%20slova.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/50%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/50%20Rukopisna%20slova.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/51%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/51%20Rukopisne%20vinjete.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/52%20Rukopisne%20vinjete.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/52%20Rukopisne%20vinjete.gif" width="83" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/53%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/53%20Rukopisna%20slova.gif" width="80" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/54%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/54%20Rukopisna%20slova.gif" width="68" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/55%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/55%20Rukopisna%20slova.gif" width="82" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/25%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/25%20Rukopisna%20slova.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/57%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/57%20Rukopisna%20slova.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Rukopisni/Rukopisni%20Images/28%20Rukopisna%20slova.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Rukopisni/RukopisniThumbnails/28%20Rukopisna%20slova.gif" width="77" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="41" valign="top"> 
                  <div align="center">
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Rukopisni1", "Riznice")">1</a> 2 ]&nbsp;</strong> 
                            </font><font color="#999999" face="Arial, Helvetica, sans-serif" size="2"><a href="@Url.Action("Rukopisni1", "Riznice")">&lt;&lt; 
                            претходна</a></font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Rukopisni%202.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет РУКОПИСНИ 2 </font></a><font face="Arial, Helvetica, sans-serif" size="2">(1.0 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>