@{
    ViewBag.Title = "Заставице 5";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">
</p>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
    <li class="active">ЗАСТАВИЦЕ 5</li>

</ul>

<table width="100%" border="0" height="78">
              <tbody><tr valign="bottom"> 
                <td width="20%" height="84"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/028342.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice5/Thumbs/028342.gif" width="85" height="81" border="0"></a></div>
                </td>
                <td width="19%" height="84"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/029343.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice5/Thumbs/029343.gif" width="85" height="81" border="0"></a></div>
                </td>
                <td width="18%" height="84"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/0234341.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice5/Thumbs/0234341.gif" width="85" height="67" border="0"></a></div>
                </td>
                <td width="19%" height="84"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/0777897.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice5/Thumbs/0777897.gif" width="85" height="73" border="0"></a></div>
                </td>
                <td width="24%" height="84"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/02834533.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice5/Thumbs/02834533.gif" width="85" height="80" border="0"></a></div>
                </td>
              </tr>
            </tbody></table>

<table align="center">
    <tr> 
          <td height="117" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr> 
                <td height="41" valign="top"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="2"> 
                          <p align="center"><a href="@Url.Action("Zastavice6", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">следећа 
                            &gt;&gt; </font></a><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Zastavice1", "Riznice")">1</a> <a href="@Url.Action("Zastavice2", "Riznice")">2</a> 
                            <a href="@Url.Action("Zastavice3", "Riznice")">3</a> <a href="@Url.Action("Zastavice4", "Riznice")">4</a> 
                            5 <a href="@Url.Action("Zastavice5", "Riznice")">6</a> 
                            <a href="@Url.Action("Zastavice7", "Riznice")">7</a> <a href="@Url.Action("Zastavice8", "Riznice")">8</a>  
                            <a href="@Url.Action("Zastavice9", "Riznice")">9</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font><a href="@Url.Action("Zastavice4", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                            претходна</font></a></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice5/Zastavice%205.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ЗАСТАВИЦЕ 5 </font></a><font face="Arial, Helvetica, sans-serif" size="2">(2.4 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="27"></td>
              </tr>
            </tbody></table>
          </td>
        </tr>
</table>