@{
    ViewBag.Title = "Заставице 1";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">
</p>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
    <li class="active">ЗАСТАВИЦЕ 1</li>

</ul>

<table width="100%" border="0" height="292">
              <tbody><tr valign="top"> 
                <td width="18%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%203.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%204.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%204.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%205.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%205.gif" width="89" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%207.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%207.gif" width="84" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%208.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%208.gif" width="80" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%209.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%209.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2011.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2011.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2013.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2013.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2014.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2014.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2015.jpg"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2015.gif" width="57" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2016.jpg"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2016.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2025.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2025.gif" width="92" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2033.jpg"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2033.gif" width="78" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%2041.jpg"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%2041.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%20145.jpg" target="_top"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%20145.gif" width="51" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="18%" height="144"> 
                  <div align="center"></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%20%20129.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%20%20129.gif" width="77" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/SLIKA%20183.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice1/Thumbs/SLIKA%20183.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"></div>
                </td>
              </tr>
            </tbody></table>


<table align="center">
    <tr> 
          <td height="117" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr> 
                <td height="41" valign="top"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="2"> 
                          <p align="center"><a href="@Url.Action("Zastavice2", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">следећа 
                            &gt;&gt; </font></a><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            1 <a href="@Url.Action("Zastavice1", "Riznice")">2</a> 
                            <a href="@Url.Action("Zastavice2", "Riznice")">3</a> <a href="@Url.Action("Zastavice3", "Riznice")">4</a>  
                            <a href="@Url.Action("Zastavice4", "Riznice")">5</a> <a href="@Url.Action("Zastavice5", "Riznice")">6</a> 
                            <a href="@Url.Action("Zastavice7", "Riznice")">7</a> <a href="@Url.Action("Zastavice8", "Riznice")">8</a>  
                            <a href="@Url.Action("Zastavice9", "Riznice")">9</a> ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                            претходна</font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice1/Zastavice%201.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ЗАСТАВИЦЕ 1 </font></a><font face="Arial, Helvetica, sans-serif" size="2">(1.4 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="27"></td>
              </tr>
            </tbody></table>
          </td>
        </tr>
</table>