@{
    ViewBag.Title = "Заставице 9";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">
</p>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
    <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
    <li class="active">ЗАСТАВИЦЕ 9</li>

</ul>
<table width="100%" border="0" height="125">
              <tbody><tr valign="top"> 
                <td width="15%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/0000%20461.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/0000%20461.gif" width="90" height="88" border="0"></a></div>
                </td>
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/045444.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/045444.gif" width="96" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/0534646.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/0534646.gif" width="84" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/image004.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/image004.gif" width="75" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/image005.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/image005.gif" width="80" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="15%" height="152"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/krst.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/krst.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="152"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/Putir.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/Putir.gif" width="95" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="152"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/sharica.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/sharica.gif" width="77" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="152"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2042.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2042.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="152"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2044.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2044.gif" width="75" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="15%" height="149"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2056.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2056.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="149"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2058.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2058.gif" width="73" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="149"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2064.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2064.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="149"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%2066.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%2066.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="149"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%20%2098.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%20%2098.gif" width="72" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="15%" height="151"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%20%20108.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%20%20108.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="151"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%20%20118.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%20%20118.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="151"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%20%20120.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%20%20120.gif" width="78" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="151"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/SLIKA%20%20128.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Zastavice9/Thumbs/SLIKA%20%20128.gif" width="75" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="151"> 
                  <div align="center"></div>
                </td>
              </tr>

            </tbody></table>

<table align="center">
    <tr> 
          <td height="117" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr> 
                <td height="41" valign="top"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="2"> 
                          <p align="center"><font face="Arial, Helvetica, sans-serif" size="2">следећа 
                            &gt;&gt; </font><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">&nbsp;<strong>[ 
                            <a href="@Url.Action("Zastavice1", "Riznice")">1</a> <a href="@Url.Action("Zastavice2", "Riznice")">2</a> 
                            <a href="@Url.Action("Zastavice3", "Riznice")">3</a> <a href="@Url.Action("Zastavice4", "Riznice")">4</a> 
                            <a href="@Url.Action("Zastavice5", "Riznice")">5</a> <a href="@Url.Action("Zastavice6", "Riznice")">6</a> 
                            <a href="@Url.Action("Zastavice7", "Riznice")">7</a> <a href="@Url.Action("Zastavice8", "Riznice")">8</a> 
                            9 ]</strong></font><font face="Arial, Helvetica, sans-serif" size="2"><strong> 
                            </strong></font><a href="@Url.Action("Zastavice8", "Riznice")"><font face="Arial, Helvetica, sans-serif" size="2">&lt;&lt; 
                            претходна</font></a></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor="#999999" cellspacing="0" cellpadding="3" width="510" align="center" border="1">
                      <tbody> 
                      <tr> 
                        <td bordercolor="#ffffff" bgcolor="#f0f0f0" height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Zastavice9/Zastavice%209.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ЗАСТАВИЦЕ 9 </font></a><font face="Arial, Helvetica, sans-serif" size="2">(3.9 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
              <tr> 
                <td height="27"></td>
              </tr>
            </tbody></table>
          </td>
        </tr>
</table>