@using System.Globalization;
@using Svetosavlje.Models;
@using Svetosavlje.Interfaces.Classes;
@using System.Web.Configuration;
@model Svetosavlje.Models.MolitveModel

@{
    ViewBag.Title = "PrikazMolitve";
}
<div class="row-fluid">
    <div class="span12">
        <img src="~/Content/images/Molitve/molitve.gif" />
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Молитве и богослужења", "Index", "Molitve")<span class="divider">/</span></li>
        </ul>
    </div>

    <br />
    <!-- Naziv molitve ili molitvi, iz baze (TODO) -->
    <table border="0" cellpadding="0" cellspacing="0" width="80%">
        <tbody>
            <p align="center">
                <strong>@ViewData["naslovMolitve"]</strong></p>

            <!-- Sadržaj molitve ili molitvi, iz baze (TODO) -->
            <tr valign="top">
                <td valign="top">
                    <p align="adjust">
                        <i>Молитвеник - Каноник О. Јустин Поповић</i></p>
                    <p align="adjust">
                        @Html.Raw(Model.Molitve[0].sMolitva.Replace("\n","<br />").Replace("<br /><br />", "<br />"))
                        @if (Model.Molitve[0].sURLuBiblioteci.Length > 0)
                        { 
                        <a href="@Html.Raw(Model.Molitve[0].sURLuBiblioteci)" target="_blank">@Html.Raw(Model.Molitve[0].sNaslovMolitve)</a>
                        }
                    </p>
                    <p align="adjust">
                        <i></i>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
</div>
