@{
    ViewBag.Title = "Мошти";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Мошти</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Мошти</h1>
    <br />



<table border="0" cellpadding="0" cellspacing="25">
        <tbody><tr valign="top" align="middle">
          <td colspan="2"><p align="left">СВЕТЕ МОШТИ&nbsp;(грч:Αγια λείψανα); земни остаци&nbsp;светитељских&nbsp;тела; одуховљена телесна пребивалишта Божија; осведочени  храмови&nbsp;Светог Духа, у облику целокупног тела, делова  тела или честица (некада обичај распарчавања моштију ради могућности да их што  већи број верника види, додирне и целива, као и због постављања у&nbsp;Часну трпезу&nbsp;и&nbsp;антиминс&nbsp;- са символичним представљањем&nbsp;небеске Цркве&nbsp;на којој почива земаљска,  али и због веровања у њихову апотропејску, заштитничку моћ). Обично, али не и  обавезно, чувају се у&nbsp;кивоту. Као предмет поштовања&nbsp;Цркве, са посебном пажњом, мошти су чуване током историје.</p>
            <div><br>
                <a name=".D0.9F.D0.BE.D1.80.D0.B5.D0.BA.D0.BB.D0."></a>Порекло назива </div>
            <p align="left">Стари словенски израз "мошти" је именица у множини, изведена из  прасловенског глагола "моћи"; отуд код многих, налазимо овај израз у  двојној форми и значењу: и као именицу моћ (множина, моћи) и као глагол моћи.  Код Срба, израз "мошти" или "моћи" коришћен је у народу и  за мошти као извор извесних натприродних, чудотворних снага - моћи, превасходно  исцелитељских, па је стога и посебан однос према њима изражаван кроз целивање,&nbsp;поклоне,&nbsp;молитве. Раније је постојао и чест обичај решавања међусобних  сукоба код моштију&nbsp;светитеља, по узору на мирење посвађане браће&nbsp;Светог Саве&nbsp;над моштима њиховог оца,&nbsp;Симеона Мироточивог.</p>
            <div><br>
                <a name=".D0.9F.D1.80.D0.B8.D1.80.D0.BE.D0.B4.D0."></a>Природа дејства </div>
            <p align="left">Кроз тело у целини које није подлегло физичко хемијском закону разлагања  материје или кроз поједине његове сачуване делове, пројављују се натприродна  дејства, која су&nbsp;Божија, и то је наставак богочовечанске сарадње и после  биолошког уснућа одређеног&nbsp;светитеља. У питању су Божија&nbsp;благодатна&nbsp;дејства (<em>ενεργεία</em>) која се у свету видљиве  стварности манифестују преко&nbsp;светитељевих&nbsp;телесних&nbsp;остатака. Мошти као тело које није подлегло  разлагању материје представљају претходно сведочанство бесмртности личности и  предзнак&nbsp;васкрсења&nbsp;у будући век и свет. Од времена&nbsp;Седмог васељенског сабора, ушива се у&nbsp;антиминс&nbsp;частица (честица, делић) светих моштију.</p>
            <div><br>
                <a name=".D0.98.D1.81.D1.82.D0.BE.D1.80.D0.B8.D1."></a>Историјат </div>
            <p align="left">Пројава&nbsp;божанских енергија&nbsp;кроз мошти&nbsp;пророка&nbsp;и&nbsp;светитеља, постојала је још у време&nbsp;Старог Завета. Познат је случај да је мртвац  оживео након што је његово мртво тело дотакло кости&nbsp;пророка Јелисеја&nbsp;(2 Цар 13,21). Већ од  најраније појаве&nbsp;Хришћанства, поред слика светих догађаја и  лица, омиљени предмет поштовања у&nbsp;Цркви&nbsp;биле су мошти&nbsp;Апостола&nbsp;и мученика. Тако су после смрти&nbsp;Епископа Поликарпа&nbsp;(†155), по сведочењу  Смирњана, његове кости биле веома цењене.<br>
              А већ од доба&nbsp;Константина Великог&nbsp;(прва половина IV  века), који је у&nbsp;црквама&nbsp;које је подигао полагао мошти Апостола и других&nbsp;светих, поштовање моштију постаје општи обичај, који је довео  до тога да, по&nbsp;Црквеним прописима, ниједна&nbsp;црква&nbsp;није смела бити освећена ако у њој није било  моштију светих. Мошти светих залог су нашег&nbsp;васкрсења. Поред моштију&nbsp;светих, помно су чувани и други предмети који су им припадали,  а први повод за то био је&nbsp;Крст&nbsp;на коме је&nbsp;страдао Господ Исус Христос. Крст је 326.  године&nbsp;пронашла Јелена, мајка цара&nbsp;Константина Великог, на&nbsp;Голготи, и поделила га на два дела: један део смештен је у&nbsp;Јерусалиму, у&nbsp;цркви&nbsp;коју је подигао њен син, а други део послала је  свом сину, који га је чувао у&nbsp;Цариграду</p></td>
          </tr>
        <tr valign="top" align="middle">
          <td><a href="@Url.Action("RukaSvSave", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/RukasvSave.jpg" alt="" width="300" height="176"></a></td>
          <td align="center" valign="middle"><div align="center"><span class="style2"><a href="@Url.Action("RukaSvSave", "Svetinje")">Рука светог Саве</a></span></div></td>
        </tr>
        <tr valign="top" align="middle">
          <td><a href="@Url.Action("RukaSvJovanaKrstitelja", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/ruka_svetog_jovanaweb.jpg" alt="" width="300" height="183"></a></td>
          <td align="center" valign="middle"><div align="center"><span class="style2"><a href="@Url.Action("RukaSvJovanaKrstitelja", "Svetinje")">Рука светог Јована Крститеља</a></span></div></td>
        </tr>
        <tr valign="top" align="middle">
                <td><a href="http://www.spcportal.org/index.php?pg=710&amp;lang=sr" target="_blank"><img src="~/Content/images/Svetinje/Mosti/mosti sv Lazara Kosovskog.jpg" alt="" width="300" height="295"></a></td>
         <td align="right" valign="middle"><div align="center"></div>
           <div align="center"><span class="style2"><a href="http://www.spcportal.org/index.php?pg=710&amp;lang=sr" target="_blank">Мошти светог Лазара Косовског</a></span></div></td>
       </tr>
         <tr valign="top" align="middle">
           <td><img src="~/Content/images/Svetinje/Mosti/svVasilijeOstroski.jpg" width="300" height="210"></td>
           <td align="center" valign="middle" class="style2">Мошти светог Василија Острошког</td>
         </tr>
         <tr valign="top" align="middle">
           <td><a href="@Url.Action("MostiSvPetraKoriskog", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/SV PETAR KORISKI.jpg" width="300" height="225"></a></td>
           <td align="center" valign="middle" class="style2"><a href="@Url.Action("MostiSvPetraKoriskog", "Svetinje")">Мошти светог Петра Коришког</a></td>
         </tr>
         <tr valign="top" align="middle">
           <td><img src="~/Content/images/Svetinje/Mosti/svVladislavSrpski.jpg" width="300" height="454"></td>
           <td align="center" valign="middle"><span class="style2">Мошти светог краља Владислава Српског</span></td>
         </tr>
         <tr valign="top" align="middle">
           <td><a href="@Url.Action("MostiSvKraljaMilutina", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/svKralj Milutin.jpg" width="300" height="410"></a></td>
           <td align="center" valign="middle"><span class="style2"><a href="@Url.Action("MostiSvKraljaMilutina", "Svetinje")">Мошти светог краља Милутина</a></span></td>
         </tr>
         <tr valign="top" align="middle">
           <td><img src="~/Content/images/Svetinje/Mosti/svvlNikolajSrpski.jpg" width="300" height="258"></td>
           <td align="center" valign="middle"><span class="style2">Мошти светог владике Николаја Жичког и Охридског</span></td>
         </tr>
         <tr valign="top" align="middle">
           <td><img src="~/Content/images/Svetinje/Mosti/MostimasvPlatonaBanjaluckoghrSveteTrojiceweb.jpg" width="300" height="201"></td>
           <td align="center" valign="middle"><span class="style2">Мошти светог Платона Бањалучког</span></td>
         </tr>
         <tr valign="top" align="middle">
           <td><img src="~/Content/images/Svetinje/Mosti/svKozmaiDamjanDubokiPotok.jpg" width="300" height="192"></td>
           <td align="center" valign="middle"><span class="style2">Мошти светих Козме и Дамјана</span></td>
         </tr>
         <tr valign="top" align="middle">
           <td><a href="@Url.Action("MostiSvPetke", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/svPetka2.jpg" width="300" height="199"></a></td>
           <td valign="middle"><div align="center"><span class="style2"><a href="@Url.Action("MostiSvPetke", "Svetinje")">Мошти свете Петке</a></span></div></td>
         </tr>
         <tr valign="top" align="middle">
           <td><a href="@Url.Action("MostiSvArsenijaSremca", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/svArenijeSremacmin.jpg" width="300" height="200"></a></td>
           <td valign="middle"><div align="center"><span class="style2"><a href="@Url.Action("MostiSvArsenijaSremca", "Svetinje")">Мошти светог Арсенија Сремца</a></span></div></td>
         </tr>
         <tr valign="top" align="middle">
           <td><a href="@Url.Action("MostiSvApostolaLuke", "Svetinje")"><img src="~/Content/images/Svetinje/Mosti/stopasvapLukemin.jpg" width="300" height="225"></a></td>
           <td valign="middle"><div align="center"><span class="style2"><a href="@Url.Action("MostiSvApostolaLuke", "Svetinje")">Стопало св. Апостола Луке</a></span></div></td>
         </tr>
         <tr valign="top" align="middle">
           <td>&nbsp;</td>
           <td>&nbsp;</td>
         </tr>
      </tbody></table>

    </div>
