@using System.Globalization;
@using Svetosavlje.Models;
@using Svetosavlje.Interfaces.Classes;
@model Svetosavlje.Models.DnevnoCitanjeModel

@{
    ViewBag.Title = "Дневно читање из Светог Писма";
}


<link rel="stylesheet" type="text/css" href="~/Scripts/julian/jquery.calendars.picker.css">
@Scripts.Render("~/bundles/julianCalendar")

<script>
    $(function () {
        $('#inlineDatepicker').calendarsPicker({ calendar: $.calendars.instance('julian', 'sr'), onSelect: showDate, changeMonth: false, monthsToShow: 3, defaultDate: '@Model.DatumKalendar' });
    });


    function showDate(date) {
        $("#strDate").val(date);
        $('form').submit();
    }


</script>



<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li class="active">Дневно читање из Светог Писма</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Дневно читање из Светог Писма за @Model.DatumCitanja</h1>
    <br /><br />
    @using (Html.BeginForm("DnevnoCitanje", "Home"))
    {
                
        <div id="datepicker-container" style="text-align: center;">
            <div id="datepicker-center" style="display: inline-block; margin: 0 auto;">
                <div id="inlineDatepicker"></div>
            </div>
        </div>

        <input type="hidden" id="strDate" name="strDate" />
    }

    <br />

    @if (Model.Citanje.FullVersion != null && Model.Citanje.FullVersion!= "")
    {
        @Html.Raw(Server.HtmlDecode(Model.Citanje.FullVersion))
    }

</div>
